@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap');

*{
color:white;
 
}

body{
margin:0;
  background-color: #202A44;
 font-family: "Alice", serif;
}

#nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:20px;
  margin:20;
  height: 100px;
  width: 100vw;
  background-color:#926F34;
  font-family: "Geom", sans-serif;
}

#nav button{
  position: relative;
  left:20px;
}

